* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
}

article {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(0, 100%, 100%);
  margin: 90px auto;
  max-width: 960px;
  padding: 34px 50px;
  border-radius: 20px;
}

main {
  padding-top: 168px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 56px;
}

form input {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background: hsl(189, 47%, 97%);
  border: none;
}

button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  width: 100%;
  font-size: 20px;
  padding: 9px;
  border-radius: 5px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

button:disabled {
  background-color: hsla(172, 67%, 45%, 0.3);
  color: hsla(183, 100%, 15%, 0.3);
}

input[type=text] {
  display: block;
  text-align: end;
  color: hsl(183, 100%, 15%);
  padding: 5px 20px;
  height: 50px;
  border-radius: 8px;
}

::-moz-placeholder {
  color: hsl(184, 14%, 56%);
  opacity: 70%;
}

::placeholder {
  color: hsl(184, 14%, 56%);
  opacity: 70%;
}

.bill-input {
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 20px 17px;
}

.num-of-people-input {
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 20px 17px;
}

input.percentage-input {
  text-align: left;
}
input.percentage-input::-moz-placeholder {
  color: hsl(183, 100%, 15%);
}
input.percentage-input::placeholder {
  color: hsl(183, 100%, 15%);
}

ul {
  list-style: none;
}

label, legend {
  display: block;
  color: hsl(186, 14%, 43%);
}

.tip-container {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 100%, 100%);
  font-size: 17px;
  padding: 42px 40px;
  border-radius: 15px;
}

.amount-container {
  display: flex;
  justify-content: space-between;
  gap: 96px;
  padding-top: 3px;
}

.amount-container:first-of-type {
  margin-bottom: 24px;
}

.amount-container p {
  color: hsl(172, 67%, 45%);
  font-size: 49px;
}

.tip-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.per-person {
  font-size: 14px;
  color: hsl(184, 14%, 56%);
}