@import './config';

article {
    display: flex;
    justify-content: space-evenly;
    background-color: $white;
    margin: 90px auto;
    max-width: 960px;
    padding: 34px 50px;
    border-radius: 20px;
}

main {
    padding-top: 168px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 56px;
}

form input {
    font-size: 24px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    background: $grey_50;
    border: none;
}

button {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    padding: 9px;
    border-radius: 5px;
    background-color: $green_400;
    color: $green_900;
}

button:disabled {
    background-color: hsl(172deg 67% 45% / 30%);
    color: hsl(183deg 100% 15% / 30%);
}

input[type="text"]{
    display: block;
    text-align: end;
    color: $green_900;
    padding: 5px 20px;
    height: 50px;
    border-radius: 8px;
}

::placeholder {
    color: $grey_200;
    opacity: 70%;
}

.bill-input {
    @include addInputIcon('../images/icon-dollar.svg');
}

.num-of-people-input {
    @include addInputIcon('../images/icon-person.svg');
}

input.percentage-input {
    text-align: left;

    &::placeholder{
        color: $green_900;
    }
}

ul {
    list-style: none;
}

label, legend {
    display: block;
    color: $grey_500;
}

.tip-container {
    background-color: $green_900;
    color: $white;
    font-size: 17px;
    padding: 42px 40px;
    border-radius: 15px;
}

.amount-container {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    padding-top: 3px;
}

.amount-container:first-of-type {
    margin-bottom: 24px;
}

.amount-container p {
    color: $green_400;
    font-size: 49px;
}

.tip-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.per-person {
    font-size: 14px;
    color: $grey_200;
}

