@import './config';

article {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    margin: 90px auto;
    max-width: 923px;
    padding: 32px 32px 32px 50px;
    border-radius: 20px;
}

main {
    padding-top: 168px;
    padding-bottom: 150px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 56px;
}

form {
    width: 380px;
    margin-bottom: 17px;
}

form input {
    font-size: 24px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    background: $grey_50;
    border: none;
}

button {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    padding: 9px;
    border-radius: 5px;
    background-color: $green_400;
    color: $green_900;
}

button:disabled {
    background-color: hsl(172deg 67% 45% / 30%);
    color: hsl(183deg 100% 15% / 30%);
}

input[type=text], input[type=number]{
    display: block;
    text-align: end;
    color: $green_900;
    padding: 5px 20px;
    height: 47px;
    border-radius: 5px;
    width: 100%;
    margin-top: 7px;

    &:invalid {
        border: 3px solid $error_border_color;
    }
}

input[type=text]:focus, input[type=number]:focus{
    border: 3px solid $green_400;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=radio]{
    width: 0;

    // &:checked {
    //     color: $green_900;
    //     background-color: $green_400;
    // }
}

::placeholder {
    color: $grey_200;
    opacity: 70%;
}

fieldset {
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bill-input {
    @include addInputIcon('../images/icon-dollar.svg');

    // &:invalid {
    //     border: 3px solid $error_border_color;
    // }
}

.num-of-people-input {
    @include addInputIcon('../images/icon-person.svg');
}

input.percentage-input {
    width: 100%;
    margin-top: 0px;
    padding: 5px 10px;

    &::placeholder{
        color: $green_900;
        text-align: left;
    }
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
    margin-top: 17px;
}

li label {
    background-color: $green_900;
    color: $white;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
    padding: 5px 0 7px;
    margin-top: 0;
}

li label:hover, li label:focus {
    @include hoverStyle();
}

.selected-tip {
    color: $green_900;
    background-color: $green_400;
}

label, legend {
    display: block;
    color: $grey_500;
    margin-top: 14px;
}

legend {
    width: 100%;
}

.tip-container {
    background-color: $green_900;
    color: $white;
    font-size: 16px;
    padding: 42px 40px 40px;
    border-radius: 15px;
    width: 415px;
}

.amount-container {
    display: flex;
    justify-content: space-between;
}

.amount-container:first-of-type {
    margin-bottom: 25px;
}

.amount-container p {
    color: $green_400;
    font-size: 47px;
}

.tip-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.per-person {
    font-size: 13px;
    color: $grey_200;
}

.reset-button {
    border: none;
    margin-top: 123px;

    &:not([disabled]):hover {
        @include hoverStyle();
    }
}

.error-msg {
    float: inline-end;
    color: $orange_error;
}


@import './mobile';